body{
    background-color:rgba(124, 83, 83, 0.105);
}
nav{
    background-color:blanchedalmond;
}
.liste{
    list-style: none;
    font-size: 25px;
    font-family :sans-serif ;
}
ul{
    display:flex;
    justify-content: space-around;
    color: aliceblue;
}
#developer{
    width: 30%;
    height: auto;
}
.developerquotes{
    font-family: monospace;
    font-size: 15px;
}
td{
    height: 50px;
    width: 150px;
    text-align: center;
    font-family: sans-serif;
}
h1{
    color: rgb(239, 0, 0);
}
.title{
    color: brown;
}
.tableau-style{
    border-collapse: collapse;
    min-width: 400px;
    width: auto;
    box-shadow: 0 5px 50px rgba(0,0,0.15);
    cursor: pointer;
    border: 2px solid midnightblue;
}
thead tr{
    background-color: midnightblue;
    color: #ffff;
    text-align: left;
}
th,td{
    padding: 15px,20px;
}
tbody tr,td,th{
    border: 1px solid #ddd;
}
tbody tr:nth-child(even){
    background-color: #f3f3f3;
}
tbody tr:last-of-type{
    border-bottom: 2px solid midnightblue;
}